@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

body{
    background-color: #656565;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: #474747;
    box-shadow: 0px 4px #2e2e2e;
}

h1{
    font-family: 'Rubik', sans-serif;
    color: #d8d8d8;
}
h2{
    font-family: 'Oswald', sans-serif;
}

#pageName{
    margin-top: 1%;
    margin-right: 0.5%;
}

#interfaces{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
#playerInterface{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#computerInterface{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
#whoWin{
    display: flex;
    justify-content: center;
}

#playerWinsName, #playerName{
    color:#4285f4
}

#playerLoosesName, #computerName{
    color: #db4437;
}

#playerName,#whoWin,#pageHeader,#computerName,#headerLogo,.scoreboardNumber,#scoreboard{
    text-shadow: 4px 3px #000000;
}

.scoreboardNumber{
    font-size: 70px;
    color: #ffba00;
}

#whoWin{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 50px;
    color: #ffffff;
}

.computerChoice{
    background-color: #db4437;
    border: 2px solid #ffffff;
}
.playerChoice{
    background-color:#4285f4;
    border: 2px solid #ffffff;
}
#scoreboard{
    font-size: 40px;
    color: #ffffff;
}

#playerName,#computerName{
    font-size: 60px
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #474747;
    box-shadow: 0 0 2em #424242;

}

#footerContent{
    text-align: center;
}

.socialMedia, #copyright{
    margin-top: 2%;
}

#linkedin{
    margin-right: 20px;
}
#github{
    margin-left: 20px;
}

.socialMedia, #copyright{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}