@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
h1{
    font-family: 'Rubik', sans-serif;
    color: #d8d8d8;
}

body{
    background-color: #656565;
}
h2{
    font-family: 'Oswald', sans-serif;
}
#pageHeader{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    background-color: #474747;
    box-shadow: 0px 4px #2e2e2e;
}
#playerName,#computerName{
    font-size: 60px
}
#pageName{
    margin-top: 1%;
    margin-right: 0.5%;
}
#interfaces{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    text-align: center;
}
.playerChoice{
    background-color: #4285f4;
    border: 2px solid #ffffff;
}
.computerChoice{
    background-color: #db4437;
    border: 2px solid #ffffff;
}
#playerInterface{
    margin-left: 2%;
}
#computerInterface{
    margin-right: 2%;
    flex-wrap: wrap;
}
#whoWin{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 50px;
    color: white;
}

#scoreboard{
    font-size: 40px;
    color: white;
}

#looses{
    margin-left: 20.8%;
}
.scoreboardNumber{
    font-size: 80px;
    color: #ffba00;
}
#playerWinsName, #playerName{
    color:#4285f4
}

#playerLoosesName, #computerName{
    color: #db4437;
}

#playerName,#whoWin,#pageHeader,#computerName,#headerLogo,.scoreboardNumber,#scoreboard{
    text-shadow: 4px 3px #000000;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 80px;
    background-color: #474747;
    box-shadow: 0 0 1em #2e2e2e;;
}

#footerContent{
    display: flex;
    text-align: center;
    justify-content: center;
}
a{
    margin-top: 20px;
    text-decoration: none;
    color: #d8d8d8;
}

#linkedinLink{
    margin-right: 20px;
}
#githubLink{
    margin-left: 20px;
}

#copyright{
    display: flex;
    text-align: center;
    justify-content: center;
}

